* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    margin: 0 10px;
}

header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1.5px rgb(236, 234, 234);
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.header-nav {
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    Width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 700px;

}

.header-nav li {
    list-style: none;
    padding: 0 30px;
    margin: 5px 0;
    border-right: solid 1.5px rgb(236, 234, 234);
}

.header-nav li:hover {
    font-weight: bold;
}

.header-nav li:last-child {
    border: none;
}



nav ul li a {
    color: white;
}

main {
    display: flex;
}

.principal {
    width: 80%;
    padding: 10px;
}

img {
    border-radius: 5px;
}

p {
    text-align: justify;
}

.noticia-capa {
    display: flex;
    border-bottom: solid 1.5px rgb(236, 234, 234);
    margin-right: 15px;

}

.noticia-capa div {}

.noticia-capa img {
    width: 90%;
    min-width: 400px;
    margin: 15px 0 5px 15px;
}

.legenda-foto {
    font-size: 10px;
    margin: 0 40px 10px 15px;
    text-align: justify;
}

.tema-sessão {
    color: red;
    margin-bottom: 5px;
    margin-top: 15px;
}

.noticia-capa article {
    margin: 15px;
}

aside {
    width: 20%;
    border-left: solid 1.5px rgb(236, 234, 234);
    margin-top: 15px;
    padding-left: 10px;

}

aside h3 {
    color: red;
    padding: 10px 0;
}

.mais-lidas {
    margin-left: 25px;
}

.mais-lidas li {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.mais-lidas li a {
    color: black;
    font-weight: normal;
}

.noticia-secundaria {
    padding: 15px;

}

.manchete {
    display: flex;

    border-bottom: solid 1.5px rgb(236, 234, 234);
    height: auto;
    padding: 10px 0;
}

.manchete:last-child {
    border: none;
}

.manchete-img {

    padding-right: 15px;
    width: 250px
}

.manchete-img img {
    width: 200px;
    max-height: 120px;
    margin-top: 20px;

}

.manchete-texto {
    padding: 10px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: solid 1.5px rgb(236, 234, 234);
    font-size: 12px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 900px) {
    .lateral {
        display: none;
    }

    .principal {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .noticia-capa {
        display: block;
    }

    .noticia-capa img {
        width: 98%;
    }

    .manchete {
        flex-direction: column;
        align-items: center;
    }

    .header-nav li {
        font-size: 14px;
        width: auto;

    }



}

@media screen and (max-width: 650px) {
    .header-nav ul {
        flex-direction: column;
        align-items: center;


    }

    .main-header {
        height: auto;
    }

    .header-nav {
        height: auto;
        margin-bottom: 10px;


    }

    .header-nav li {
        border: none;
    }